{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Chat</th>
                <th>Online Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in users %}
            <tr>
                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                <td><a href="/chat/{{i.user.id}}/">Chat</a> </td>
                <td>{{i.is_online}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}